<div>
    {{>admin }}

    <div class="uk-container uk-container-medium page">
        <div class=" mt-5 uk-text-large">Home</div>
        <div class="mt-5 uk-grid-match uk-child-width" uk-grid>

            <!-- Dashboard Card -->
            <div class="uk-card-secondary uk-card-body uk-card-hover rounded" uk-tooltip="Dashboard">
                <div uk-grid>
                    <div class="uk-width-large uk-height-small">
                        <p class="uk-card-title">Dashboard</p>
                        <p>Welcome to Node.CMS</p>
                    </div>
                    <div class="">
                        <div>
                            <span class="uk-margin-small-right uk-text-emphasis" uk-icon="rss"></span>
                            <a>Check for updates</a>
                        </div>
                        <br>
                        <div>
                            <span class="uk-margin-small-right uk-text-emphasis" uk-icon="icon: sign-in"></span>
                            <a>Import Modules</a>
                        </div>
                        <br>
                        <div>
                            <span class=" uk-margin-small-right uk-text-emphasis" uk-icon="world"></span>
                            <a>Check your website</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Intergation Card -->
            <div class="uk-card-secondary uk-card-body uk-card-hover rounded" uk-tooltip="Intergation">
                <div uk-grid>
                    <div class="uk-width-large uk-height-small">
                        <p class="uk-card-title">Intergation</p>
                        <p>You can edit your posts</p>
                    </div>
                    <div class="row uk-width-large">
                        <div class="col">
                            <div>
                                <span class="uk-margin-small-right uk-text-emphasis" uk-icon="file"></span>
                                <a>Pages</a>
                            </div>
                            <br>
                            <div>
                                <span class="uk-margin-small-right uk-text-emphasis" uk-icon="icon: file-text"></span>
                                <a>Posts</a>
                            </div>
                            <br>
                            <div>
                                <span class=" uk-margin-small-right uk-text-emphasis" uk-icon="social"></span>
                                <a>Media</a>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <span class="uk-margin-small-right uk-text-emphasis" uk-icon="comments"></span>
                                <a>Comments</a>
                            </div>
                            <br>
                            <div>
                                <span class="uk-margin-small-right uk-text-emphasis" uk-icon="icon: receiver"></span>
                                <a>Contact</a>
                            </div>
                            <br>

                        </div>
                    </div>
                </div>
            </div>

            <!-- E-Commerce Card -->
            <div class="uk-card-secondary uk-card-body uk-card-hover rounded" uk-tooltip="Intergation">
                <div uk-grid>
                    <div class="uk-width-large uk-height-small">
                        <p class="uk-card-title">E-Commerce</p>
                        <p>Edit your online shop</p>
                    </div>
                    <div class="row uk-width-large">
                        <div class="col">
                            <div>
                                <span class="uk-margin-small-right uk-text-emphasis" uk-icon="file"></span>
                                <a>Pages</a>
                            </div>
                            <br>
                            <div>
                                <span class="uk-margin-small-right uk-text-emphasis" uk-icon="icon: file-text"></span>
                                <a>Posts</a>
                            </div>
                            <br>
                            <div>
                                <span class=" uk-margin-small-right uk-text-emphasis" uk-icon="social"></span>
                                <a>Media</a>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <span class="uk-margin-small-right uk-text-emphasis" uk-icon="comments"></span>
                                <a>Comments</a>
                            </div>
                            <br>
                            <div>
                                <span class="uk-margin-small-right uk-text-emphasis" uk-icon="icon: receiver"></span>
                                <a>Contact</a>
                            </div>
                            <br>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<style>
    .page {
        position: absolute;
        left: 360px;
    }
</style>