<div id="viewport">
    <!-- Sidebar -->
    <div class="bg-dark sidebar">
        <header class="header bg-info p-3 text-center text-light">
            <div>Admin</div>
        </header>
        <ul class="nav">

        </ul>
    </div>


    <style>
        .sidebar {
            position: fixed;
            left: 250px;
            width: 250px;
            height: 100%;
            margin-left: -250px;
        }
    </style>