
<div class="container">
    <div class="row">
        <input type="email">
    </div>
    <div class="row">
        <input type="password">

    </div>
    <div class="row">
        <input type="submit">

    </div>
</div>