<div class="container text-center mt-5">
        <p class="display-1">404 ERROR</p>
        <p class="display-3">I find your luck of navigation disturbing</p>

        <button type='button' class="btn btn-info mt-5"><a href='/home' style="color: white">Get back to
                        safety</a></button>
</div>