<div class="bg-light">
    {{>admin }}

    <div class="uk-container uk-container-medium page">
        <div class=" mt-5 uk-text-large">Edit Website pages</div>

        <div class="mt-5 uk-grid-match uk-child-width" uk-grid>

            <!-- Pages Card -->
            <div class="uk-card-primary uk-card-body uk-card-hover rounded" uk-tooltip="Edit Pages">
                <div uk-grid>
                    <div class="uk-width-xlarge uk-height-small  uk-text-center">
                        <p class="uk-card-title">Pages</p>
                        <p>Intergate with your website</p>

                        <div class="uk-margin-large">
                            <button class="uk-button uk-button-secondary uk-width-small">Add New</button>
                            <button class="uk-button uk-button-secondary uk-width-small">Trash</button>
                        </div>
                    </div>

                    <hr class="uk-divider-vertical h-100">


                    <div class="uk-width-large">
                        <div class="uk-column-1-2 p-2">
                            <p>Home</p>
                            <button class="uk-button-primary">Edit</button>
                            <button class='uk-button-danger'>Delete</button>
                        </div>
                        <div class="uk-column-1-2 p-2">
                            <p>About</p>
                            <button class="uk-button-primary">Edit</button>
                            <button class='uk-button-danger'>Delete</button>
                        </div>
                        <div class="uk-column-1-2 p-2">
                            <p>Contact</p>
                            <button class="uk-button-primary">Edit</button>
                            <button class='uk-button-danger'>Delete</button>
                        </div>
                        <div class="uk-column-1-2 p-2">
                            <p>Porn</p>
                            <button class="uk-button-primary">Edit</button>
                            <button class='uk-button-danger'>Delete</button>
                        </div>


                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

<style>
    .page {
        position: absolute;
        left: 360px;
    }
</style>